
<header class="p-3 bg-light text-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <h3 class=" brand fw-bold">CloudTicket</h3>
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li [routerLink]="''" [routerLinkActive]="'active'"><a class="nav-link px-2 text-dark">Home</a></li>
        <li [routerLink]="'tickets'" [routerLinkActive]="'active'" [ngClass]="{'d-none': isLogin === false}"><a class="nav-link active px-2 text-dark">Tickets</a></li>
        <li [routerLink]="'profile'" [routerLinkActive]="'active'" [ngClass]="{'d-none': isLogin === false}"><a class="nav-link active px-2 text-dark">Profile</a></li>
        <li [routerLink]="'contact'" [routerLinkActive]="'active'"><a class="nav-link active px-2 text-dark">Contact</a></li>
        <li [routerLink]="'about'" [routerLinkActive]="'active'"><a class="nav-link active px-2 text-dark">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button *ngIf="isLogin == false" [routerLink]="'login'" [routerLinkActive]="'active'" type="button" class="btn text-white" >Login</button>
        <button *ngIf="isLogin == true"[routerLink]="'login'" [routerLinkActive]="'active'" type="button" class="btn text-white" (click)="onLogout()">Logout</button>
      </div>
    </div>
  </div>
</header>
