




<div class="container-sm py-5 px-lg-4">
  <div class="w-lg-75 text-center mx-lg-auto mb-9">
    <h4 class="display-4 fw-bold lh-5"><b>A helpdesk ticketing solution that helps you engage in real conversations</b></h4>
    <p class="lead">Bring your idea to life in no time. The website solution for all your needs. For UX designers, entrepreneurs, product managers, marketers, and anyone.</p>
  </div>
</div>

<div class="container">
  <div class="w-lg-75 mx-md-auto mb-md-5">
    <div class="row align-items-center">
      <div class="container-sm py-5 px-lg-4">
        <div class="w-lg-75 text-center mx-lg-auto mb-9">
          <h3 class=" fw-bold lh-5"><b>Made for everyone, Find all the answers you are looking for in our extensive knowledge.</b></h3>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 justify-content-md-center">
        <h4>Help desk</h4>
        <p class="text-muted">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-lg px-4 me-md-2 fw-bold">Preview Help Desk</button>
        </div>
      </div>
      <div class="col-lg-4 p-0 shadow-lg">
          <img class="rounded-lg-3" src="/assets/img/img3.jpg" alt="" width="720">
      </div>

    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>
